//Fonts
@include font(Casper, Casper, normal);
@include font(Casper, Casper Bold, bold);

$casper: 'Casper', Arial, serif;

$slick-font-path: '../fonts/';
$slick-loader-path: './../img/';

.slick-prev {
    width: 42px;
    height: 42px;
}

//Colors
$white: #ffffff;
$yelow: #ffda00;
$grey: #a8a8a8;
$black: #000000;
$test: aqua;
$test2: red;

// Menu height
$menu-height: 52px;
$menu-height-desktop: 70px;


// border
$border: 2px $yelow solid;
$border-size-d: 5px;
$border-d: $border-size-d $yelow solid;

// Pedding
// Отступы справа слева на мобильных
$padding: 12px;

// Отступы медлу секциями на мобильных
$v-padding: 22px;
// -----

@mixin padding() {
     padding-left: $padding;
     padding-right: $padding;
}


// Сетка для дектопной версии

// Пропорция колонки и гатера
$aspect: 4.75;
// Вычисляемый размер гатера
$gut: (100 / (13*$aspect + 12));
// Вычисляемый размер колонки
$col: $aspect * $gut;

// -----
