//Fonts
@import url('https://fonts.googleapis.com/css?family=Rubik+Mono+One');
@import url('https://fonts.googleapis.com/css?family=Bad+Script');

$font: 'Rubik Mono One', sans-serif;


//Colors
$white: #ffffff;
$black: #000000;
