mixin b_t-shirt(data)
    +b.t-shirt&attributes(attributes)
        +e("img").img(src="./img/t-shirt.png")
        +e("a").link(href="https://docs.google.com/forms/d/e/1FAIpQLSdE_Ug7h5ROzJJaAAa2tT1uXAV4GE-_r-8mTstCMdI430sgZA/viewform") Замовити
