mixin b_t-shirt-richka(data)
    +b.t-shirt-richka&attributes(attributes)
        +e("a").link(href="https://www.facebook.com/commerce/products/1721463491215849/")
            +e("img").img(src="./img/t_shirt_lito.png")
        +e("a").link(href="https://www.facebook.com/commerce/products/1721463491215849/") Замовити

mixin b_t-shirt-original(data)
    +b.t-shirt-original&attributes(attributes)
        +e("a").link(href="https://www.facebook.com/commerce/products/1573837645984357/")
            +e("img").img(src="./img/t_shirt_original_t.png")
        +e("a").link(href="https://www.facebook.com/commerce/products/1573837645984357/") Замовити

mixin b_t-shirt-oldschool(data)
    +b.t-shirt-oldschool&attributes(attributes)
        +e("a").link(href="https://www.facebook.com/commerce/products/1569406786463890/")
            +e("img").img(src="./img/t_shirt_old_school.png")
        +e("a").link(href="https://www.facebook.com/commerce/products/1569406786463890/") Замовити


