include ../donation/donation
include ../social-buttons/social-buttons
include ../t-shirt/t-shirt
include ../archive/archive

mixin b_main(data)
    +b.main&attributes(attributes)
        +e("h1").header Квартира Тапольського
        +e.donation
            +b_donation()
        +b_social-buttons()
        +b_t-shirt-richka()
        +b_t-shirt-original()
        +b_t-shirt-oldschool()
        +b_archive()
