mixin b_youtube(data)
	+b.youtube&attributes(attributes)
		iframe(src="https://www.youtube.com/embed/#{data}?controls=0&showinfo=0&modestbranding=1&amp;wmode=transparent" wmode="opaque" width="100%" frameborder="0" allowfullscreen)
