//- Description no longer than 155 characters
meta(name="description" content="Тут живе Тапольський!")
meta(name="keywords" content="Тапольський, DJ, квартира")
//Twitter Card data
meta(name="twitter:card" content="summary")
meta(name="twitter:site" content="@publisher_handle")
meta(name="twitter:title" content=meta.title)
meta(name="twitter:description" content="Тут живе Тапольський!")
meta(name="twitter:creator" content="@author_handle")
//- Twitter Summary card images must be at least 120x120px
meta(name="twitter:image" content="./img/mainprofile.jpg")

//Open Graph data
meta(property="og:title" content=meta.title)
meta(property="og:type" content="article")
meta(property="og:url" content="http://nakvartiru.in.ua/")
meta(property="og:image" content="./img/mainprofile.jpg")
meta(property="og:description" content="Тут живе Тапольський!" )
meta(property="og:site_name" content="")
meta(property="fb:admins" content="Facebook numeric ID")

//favicons
link(rel="apple-touch-icon-precomposed" href="./img/favicon-152.png")
meta(name="msapplication-TileColor" content="#FFFFFF")
meta(name="msapplication-TileImage" content="./img/favicon-144.png")
link(rel="icon" href="./img/favicon-32.png" sizes="32x32")
link(rel="shortcut icon" sizes="196x196" href="./img/favicon-196.png")
