.social-buttons {
    display: flex;

    &__item {
        margin: 20px;
        color: $white;

        @include r(1023) {
            margin: 10px;
        }
    }

    &__img {
        width: 50px;
        margin: auto;

        @include r(1023) {
            width: 30px;
        }
    }

    &__link {
        display: flex;
        text-decoration: none;
        color: $white;
        font-family: 'Bad Script', cursive;
        flex-direction: column;
        text-align: center;
        text-transform: uppercase;
    }

    &__text {
        padding-top: 10px;
        font-size: 0.8em;
    }
}
